




<h3>Assignments</h3>




<table style="font-size:15px;">
  <tr>
    <th>Name:</th>
    <th>Assignment Name:</th>
    <th>Start Date:</th>
    <th>Due Date:</th>
    <th>Assignment Grade:</th>
    <th>Grade:</th>
    <th>asdfasdf</th>
  </tr>
  <% @completed_assignments.each do |student_assignment| %>
    <tr>
      <td>
        <%= student_assignment.student.first_name %> <%= student_assignment.student.last_name %>
      </td>
      <td>
        <%= student_assignment.assignment.assignment_name %>
      </td>
      <td>
        <%= student_assignment.assignment.assignment_name %>
      </td>
      <td>
        <%= student_assignment.assignment.start_date %>
      </td>
      <td>
        <%= student_assignment.assignment.due_date %>
      </td>
      <td>
        <%= form_for :student_assignment, :method => 'put' do |f| %>
          <%= f.text_field :grade, {value: student_assignment.grade} %>
          <%= f.hidden_field :id, {value: student_assignment.id} %>

      </td>
      <td>
        <%= f.submit :confirm => "Are you sure?", class: "small button success", id: "edit_html_button_success"%>
        <% end %>







        <%= link_to("Delete Student Assignment",
        "/users/#{params[:user_id]}/students/#{student_assignment.id}",
        method: :delete,
        confirm: "Are you sure?",
        class: "small button alert",
        id: "edit_html_button_alert")%>
      </td>
    </tr>

    <tr><td colspan="7"><hr></td></tr>
  <% end %>
</table>

<a href="#" class="tiny button">Tiny Button</a>


<!-- CSS / user_courses / edit.html.erb -->
