<h2>Welcome to SmartGroup!</h2>

<br><br>

<h4>Add A Course</h4>

<table>
  <tr>
    <td><h4 class="subheader">Add a course with CSV file</h4></td>
    <td><h4 class="subheader">Add a course manually</h4></td>
  </tr>
  <tr>
    <td><%= link_to("Upload Class", parser_path, class: "small button success") %></td>
    <td><%= link_to("Enter Class", new_user_course_path, class: "small button success") %></td>  
  </tr>
</table>
  
<br><br><br>

<h4>Current Courses</h4>

<table>
  <% @courses.reverse.each do |course| %>
    <tr>
      <td id="display_course_options"><div style="width:200px;"><%= course.name %></div></td>
      <td id="display_course_options"><%= link_to("Group Generator", new_course_group_path(course), class: "small button", id: "course_list_buttons") %></td>
      <td id="display_course_options"><%= link_to("Metics / Graphs", main_path(current_user.id, course.id), class: "small button", id: "course_list_buttons") %></td>
      <td id="display_course_options"><%= link_to("Edit Course", edit_path(current_user.id, course.id), class: "small button", id: "course_list_buttons") %></td>
      <td id="display_course_options"><%= link_to("Delete Course", edit_path(current_user.id, course.id), class: "small button alert", id: "course_list_buttons") %></td>
    </tr>
  <% end %>
</table>




