<h3>Select Graph Type</h3>
<hr>


<h3 class="subheader"><%= "View Multiple Students" %></h3>

<p>You may select multiple types.</p>
<%= form_tag ("/metrics"), method:"POST" do %>
<table>
   <% @chart_types.each do |chart_type| %>
    <tr>
      <td><%= check_box_tag 'chart_selections[]', chart_type[:type] -%></td>
      <td><%="Select Chart:"+" #{chart_type[:type]}"-%></td>
    </tr>
    <% end %>
</table>
  <%= submit_tag "Submit", class: "small button success" %>
  <% end %>

<hr>


<h3 class="subheader"><%= "View An Individual Student" %></h3>



<table>
  <%  @course.students.each do |student| %>
    <tr>
      <td><%= link_to(student.name, student_profile_path(student.id)) -%></td>
    </tr>
  <% end %>
</table>






