<div id="signin_signup_container">
  <table id="signin_form_box">
    <%= form_tag login_path do %>
      <tr><td>Login<hr></td></tr>
      <tr>
        <td>
          <%= label_tag(:email, "Email:") %>
          <%= email_field_tag(:email, nil, required:true) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag(:password, "Password:") %>
          <%= password_field_tag(:password, nil, required:true) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag("Login", class: "small button success", style: "float:right;", id: "signin_button") %>
        </td>
      </tr>
    <% end %>
  </table>


  <table id="signup_form_box">
    <%= form_tag "users#create", method:"POST" do %>
    <tr><td>h5Signup<hr></td></tr>
    <tr>
      <td>
    <%= label_tag(:email, "Email:") %>
    <%= email_field_tag(:email, nil, required:true) %>
      </td>
    </tr>
    <tr>
      <td>
          <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password, nil, required:true) %>
      </td>
    </tr>
    <tr>
      <td>
    <%= submit_tag("Signup", class: "small button success", style: "float:right;", id: "signup_button") %>
      </td>
    </tr>
    <% end %>
  </table>
</div>









<div id="title_handwriting">Welcome to <br> GroupSmart</div>
