

<%= form_tag "users#create", method:"POST" do %>
<table>
  <tr>
    <th><h3 class="subheader"><%= "Signup" %></h3></th>
  </tr>
  <tr>
    <td><%= label_tag(:email, "Email:") %></td>
  </tr>
    <tr>
    <td><%= email_field_tag(:email) %></td>
  </tr>
    <tr>
    <td><%= label_tag(:password, "Password:") %></td>
  </tr>
    <tr>
    <td><%= password_field_tag(:password) %></td>
  </tr>
    <tr>
    <td><%= submit_tag("Signup") %></td>
  </tr>
</table>
<% end %>

<%= form_tag login_path do %>
<table>
  <tr>
    <th><h3 class="subheader"><%= "Login" %></h3></th>
  </tr>
  <tr>
    <td><%= label_tag(:email, "Email:") %></td>
  </tr>
<tr>
  <td><%= email_field_tag(:email) %></td>
</tr>
  <tr>
<td><%= label_tag(:password, "Password:") %></td>
  </tr>
  <tr>
    <td><%= password_field_tag(:password) %></td>
  </tr>
  <tr>
    <td><%= submit_tag("Login") %></td>
  </tr>
</table>
<% end %>
