

<table>
  <% @completed_assignments.each do |student_assignment| %>
  <tr>
    <td><%= student_assignment.student.first_name %> <%= student_assignment.student.last_name %></td>
    <td><%= student_assignment.assignment.assignment_name %></td>
    <td><%= student_assignment.assignment.start_date %></td>
    <td><%= student_assignment.assignment.due_date %></td>
    <td><%= student_assignment.grade %></td>
  </tr>
  <% end %>
</table>

  
  
  
  
  
  

