<h1>The New Generation</h1>

<form class="checkbox">
  <%= form_for user[course] do |f| %>
    <%= f.label "random" %>
    <%= f.check_box :random  %>
  <% end %>
</form>
<form class="checkbox">
  <%= form_for 'user[course]' do |f| %>
    <%= f.label "even_grade_distribution" %>
    <%= f.check_box :even_grade_distribution%>
  <% end %>
</form>




