<h2>Welcome to SmartGroup!</h2><br><br><br>

<h3 class="subheader" style="text-align:left;">Add A Course</h3>
<table id="asdf">
  <tr>
    <td><%= link_to("Upload Class", parser_path, class: "small button", id: "opt_bttn") %></td>
    <td><%= link_to("Enter Class", new_user_course_path, class: "small button", id: "opt_bttn") %></td>
  </tr>
</table>






<h3 class="subheader" style="text-align:left;">Current Courses</h3>
  <table id="asdf">
    <% @courses.reverse.each do |course| %>
      <tr>
        <td><li><%= course.name %></li></td>
        <td><li><%= link_to("Group Generator", "asdf", class: "small button", id: "opt_bttn") %></li></td>
        <td><li><%= link_to("Metics/Graphs", "asdf", class: "small button", id: "opt_bttn") %></li></td>
        <td><li><%= link_to("Edit Roster", "asdf", class: "small button", id: "opt_bttn") %></li></td>
      </tr>
    <% end %>
  </table>


