<h1>Welcome to SmartGroup!</h1>

<h2 class="subheader">Add A Course</h2>

  <%= link_to("Upload Class", parser_path, class: "button success") %>

  <%= link_to("Enter Class", new_user_course_path, class: "button success") %>
<h2 class="subheader">Current Courses</h2>

<table id="course_list">
  <% @courses.reverse.each do |course| %>
    <tr>
      <td ><b><%= course.name %></b></td>
      <td><a href="courses/<%=course.id%>" class="small button" id="opt_bttn">Group Generator</a></td>
      <td><a href="courses/<%=course.id%>/metrics/new" class="small button" id="opt_bttn">Metics / Graphs</a></td>
      <td><a href="#" class="small button" id="opt_bttn">Edit Roster</a></td>
    </tr>
  <% end %>
</table>

