<body>
    <h3>Student Roster</h3>
  <div id="student_roster">
    <ul>

        <li> <%=@uniq_students %></li>

    </ul>
  </div>
</body>


<div id="group_sizes">
    <%= form_for [@user, @course], url: num_groups_user_course_path(@user, @course) do |f| %>
      <%= f.label "# of Group"%>
      <%= f.text_field :num_of_groups %>
      <%= f.submit "Generate" %>
    <% end %>


    <%= form_for [@user, @course], url: groups_user_course_path(@user, @course) do |f| %>
      <%= f.label "# students/group"%>
      <%= f.text_field :num_per_group %>
      <%= f.submit "Generate" %>
    <% end %>
</div>
