<h1>Select your File to Import</h1>

<p>
  Download:
  <%= link_to "CSV", parser_path(format: "csv") %>
  <%= link_to "Excel", parser_path(format: "xls") %>
</p>


<h2>Import A Class!</h2>

<%= form_tag parser_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>